a {
    color: white;
    text-decoration: none;
}

button {
    background-color: #5C9BE6;
    /* background-color: #30C207; */
    border: none;
    border-radius: 5vw;
    color: white;
    cursor: pointer;
    font-family: Montserrat-Arabic;
}

p {
    margin: 0;
}

.scroll {
    cursor: pointer;
}

/** <------------------------- Header -------------------------> */

header {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding-left: 2vw;
}

#logo_header {
    height: 8vh;
}


#menu {
    align-items: center;
    display: flex;
    font-family: Intro;
    font-size: 1.25rem;
    height: 100%;
}

.menu_option {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 1vw;
}

.menu_option:hover {
    background-color: #222222;
}

#registrarse {
    border: 0.2vw solid white;
    border-radius: 2vw;
    margin: 0 2vw 0 1vw;
    padding: 0.5vw 1vw;
}

#registrarse:hover {
    background-color: #222222;
    font-size: 1.35rem;
    margin: 0 1.583vw 0 0.583vw;
}

.desplegable {
    align-items: center;
    cursor: default;
    display: flex;
    height: 100%;
    padding: 0 1vw;
    position: relative;
}

#icono_header {
    height: 75%;
    margin: 0 1vw 0 0;
}

.submenu {
    background-color: #111111;
    display: none;
    position: absolute;
    top: 10vh;
    right: 0;
}

.submenu_option {
    cursor: pointer;
    font-family: Montserrat-Arabic;
    padding: 2vh 3vw;
    text-align: center;
    white-space: nowrap;
}

.submenu_option:hover {
    background-color: #333333;
}

/* .submenu hr {
    margin: 0;
    width: 100%;
} */

.desplegable:hover .submenu {
    display: block;
}

/** <------------------------- Main section -------------------------> */

#main_principal {
    align-items: center;
    background-image: url("./../images/fondo_principal_inicio.png");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5.5vh;
    justify-content: center;
    padding: 9vh 0 8vh 0;
    text-align: center;
}

#main_title {
    font-family: Intro;
    font-size: 3.75rem;
    margin: 0;
}

#main_subtitle {
    font-family: Montserrat-Arabic;
    font-size: 1.9rem;
}

#main_principal button {
    background-color: #5C9BE6;
    font-family: Montserrat-Arabic;
    font-size: 1.5rem;
    height: 11vh;
    margin: 3vh 0;
    width: 27.5vw;
}

/** <------------------------- Section "Funcionalidades" -------------------------> */

#funcionalidades {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 6vh 0;
}

#title {
    font-family: Intro;
    font-size: 2.75rem;
    margin: 2vh 0;

}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25vw;
    justify-content: center;
}

.option {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin-top: 5vh;
    width: 32vw;
}

.option img {
    height: 11.5vw;
}

.option_title {
    font-family: Intro;
    font-size: 1.4rem;
    margin-top: 1vh;
    text-align: center;
}

.option_description {
    font-family: Montserrat-Arabic;
    font-size: 1rem;
    margin-bottom: 1vh;
    padding: 0 2vw;
    text-align: center;
}

.option_link {
    margin-top: auto;
}

.option button {
    font-family: Montserrat-Arabic;
    font-size: 1.25rem;
    padding: 2.5vh 2.5vw;
}

/** <------------------------- Footer -------------------------> */

footer {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 6.5vh;
    padding: 9vh 0 0 0;
}

#contacto_principal_container {
    display: flex;
    gap: 10vw;
    padding-left: 8vw;
}

#contacto_principal_container img {
    height: 5vw;
}

.contacto_principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Montserrat-Arabic;
    font-size: 1rem;
    gap: 2.5vh;
    justify-content: end;
}

#informacion_adicional {
    align-items: end;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1vh;
    width: 98%;
}

.informacion_adicional_label {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.75rem;
}

#redes_sociales_container {
    display: flex;
    gap: 1vw;
    padding: 0 0 1vh 2vw;
}

#redes_sociales_container a img {
    border: white 0.2vw solid;
    border-radius: 50%;
    height: 4vw;
}

/** <------------------------- Aviso de privacidad -------------------------> */

#aviso_privacidad_content {
    background-color: #438617;
    border-radius: 1vw;
    font-family: Montserrat-Arabic;
    font-size: 1rem;
    line-height: 1.5rem;
    overflow-y: auto;
    /* Scrollbar */
    max-height: 50vh;
    /* Scrollbar */
    padding: 2vw;
    text-align: justify;
}

#aviso_privacidad_content::-webkit-scrollbar {
    /* Para ocultar scrollbar */
    width: 0;
}

/** <------------------------- Ventana emergente -------------------------> */

.ventana_emergente_background {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    color: white;
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.ventana_emergente_container {
    align-items: center;
    background-color: #68AA24;
    border: white 0.2vw solid;
    border-radius: 4vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px;
    display: flex;
    flex-direction: column;
    left: 25%;
    padding: 3vh 3vw;
    position: fixed;
    width: 50%;
}

.ventana_emergente_container button {
    background-color: rgba(0, 0, 0, 0);
    font-size: 2rem;
    margin-left: auto;
}