/** <------------------------- Section "Nosotros" -------------------------> */

#nosotros_title {
    background-image: url("./../images/fondo_principal_inicio.png");
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Intro;
    font-size: 2.25rem;
    padding: 4vh 0;
    text-align: center;
}

#quienes_somos_container {
    align-items: center;
    display: flex;
    padding: 3vh 0 0 3vw;
}

.nosotros_subtitle {
    font-family: Intro;
    font-size: 2.1rem;
    margin: 3vh 1.75vw;
}

#quienes_somos_description {
    border: #68AA24 0.75vw solid;
    border-radius: 4vw;
    font-family: Montserrat-Arabic;
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 1.5vh 2vw;
    text-align: center;
    width: 50vw;
}

#equipo_tectrash {
    width: 40vw;
}

#mision_container,
#vision_container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3vh 3vw 3vh 6vw;
}

.nosotros_image {
    margin-left: 3vw;
    width: 20vw;
}

#mision_container div {
    text-align: right;
}

#mision_description {
    border: #5C9BE6 0.75vw solid;
    border-radius: 4vw;
    font-family: Montserrat-Arabic;
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 1.5vh 2vw;
    text-align: center;
    width: 56vw;
}

#vision_description {
    border: #68AA24 0.75vw solid;
    border-radius: 4vw;
    font-family: Montserrat-Arabic;
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 1.5vh 2vw;
    text-align: center;
    width: 56vw;
}

#valores_container,
#ubicacion_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3vh 0 3vh 0;
}

.valor_element_verde {
    border: #68AA24 0.75vw solid;
    border-radius: 4vw;
    font-family: Montserrat-Arabic;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 2.25vh;
    padding: 1.5vh 2vw;
    text-align: center;
    width: 90vw;
}

.valor_element_azul {
    border: #5C9BE6 0.75vw solid;
    border-radius: 4vw;
    font-family: Montserrat-Arabic;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 2.25vh;
    padding: 1.5vh 2vw;
    text-align: center;
    width: 90vw;
}

#ubicacion_tectrash {
    border: #5C9BE6 0.75vw solid;
    border-radius: 4vw;
    height: 55vh;
    margin: 3vh 0;
    width: 65vw;
}

#direccion {
    font-family: Montserrat-Arabic;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 3vh 0;
}
