
.App {
  text-align: center;
}  

.App-logo {
  height: 40vmin;
  pointer-events: none;
}  

/*! GENERAL */

p {
  margin: 0;
}

.scroll {
  cursor: pointer;
}

/*! PÁGINA PRINCIPAL */

#principal {
  position: relative;
}

/** Header */
header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 0 2vw;
}

#logo_header {
  height: 9vh;
  margin: 0;
}

#menu, #menu a {
  align-items: center;
  display: flex;
  font-family: Intro;
  font-size: 1.25rem;
  gap: 1.75vw;
  text-decoration: none;
}  

#registrarse {
  border: 0.2vw solid white;
  border-radius: 2vw;
  padding: 0.5vw 1vw;
}

/** Main section */
#main_principal {
  align-items: center;
  background-image: url("./images/fondo_principal_inicio.png");
  background-size: cover;
  background-position-y: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5.5vh;
  justify-content: center;
  padding: 9vh 0 8vh 0;
}

#main_title {
  font-family: Intro;
  font-size: 3.75rem;
  margin: 0;
}

#main_subtitle {
  font-family: Montserrat-Arabic;
  font-size: 1.9rem;
}

#main_principal button {
  background-color: #5C9BE6;
  font-family: Montserrat-Arabic;
  font-size: 1.5rem;
  height: 11vh;
  margin: 3vh 0;
  width: 27.5vw;
}

/** Section "Servicios" */
#servicios {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding: 6vh 0;
}

#title {
  font-family: Intro;
  font-size: 2.75rem;
  margin: 2vh 0;

}

.container {
  display: flex;
  gap: 1.25vw;
  justify-content: center;
}

.option {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  width: 32vw;
}

.option img {
  height: 11.5vw;
}

.option_title {
  font-family: Montserrat-Arabic;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.option_description {
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  padding: 0 2vw;
  text-align: center;
}

/** Section "Nosotros" */
#nosotros_title {
  background-image: url("./images/fondo_principal_inicio.png");
  background-position: center;
  background-size: cover;
  color: white;
  font-family: Intro;
  font-size: 2.25rem;
  padding: 4vh 0;
  text-align: center;
}

#quienes_somos_container {
  align-items: center;
  display: flex;
  padding: 3vh 0 0 3vw;
}

.nosotros_subtitle {
  font-family: Intro;
  font-size: 2.1rem;
  margin: 3vh 1.75vw;
}

#quienes_somos_description {
  border: #68AA24 0.75vw solid;
  border-radius: 4vw;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 1.5vh 2vw;
  text-align: center;
  width: 50vw;
}

#equipo_tectrash {
  width: 40vw;
}

#mision_container, #vision_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3vh 3vw 3vh 6vw;
}

.nosotros_image {
  margin-left: 3vw;
  width: 20vw;
}

#mision_container div {
  text-align: right;
}

#mision_description {
  border: #5C9BE6 0.75vw solid;
  border-radius: 4vw;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 1.5vh 2vw;
  text-align: center;
  width: 56vw;
}

#vision_description {
  border: #68AA24 0.75vw solid;
  border-radius: 4vw;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 1.5vh 2vw;
  text-align: center;
  width: 56vw;
}

#valores_container, #ubicacion_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3vh 0 3vh 0;
}

.valor_element_verde {
  border: #68AA24 0.75vw solid;
  border-radius: 4vw;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 2.25vh;
  padding: 1.5vh 2vw;
  text-align: center;
  width: 90vw;
}

.valor_element_azul {
  border: #5C9BE6 0.75vw solid;
  border-radius: 4vw;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 2.25vh;
  padding: 1.5vh 2vw;
  text-align: center;
  width: 90vw;
}

#ubicacion_tectrash {
  border: #5C9BE6 0.75vw solid;
  border-radius: 4vw;
  height: 55vh;
  margin: 3vh 0;
  width: 65vw;
}

#direccion {
  font-family: Montserrat-Arabic;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 3vh 0;
}

/** Footer */
footer {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 6.5vh;
  padding: 9vh 0 0 0;
}

#contacto_principal_container {
  display: flex;
  gap: 10vw;
  padding-left: 8vw;
}

#contacto_principal_container img {
  height: 5vw;
}

.contacto_principal {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  gap: 2.5vh;
  justify-content: end;
}

#informacion_adicional {
  align-items: end;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vh;
  width: 98%;
}

#informacion_adicional p, #informacion_adicional a {
  font-family: Montserrat-Arabic;
  font-size: 0.75rem;
  text-decoration: none;
}

#redes_sociales_container {
  display: flex;
  gap: 1vw;
  padding: 0 0 1vh 2vw;
}

#redes_sociales_container a img {
  border: white 0.2vw solid;
  border-radius: 50%;
  height: 4vw;
}

#aviso_privacidad_button {
  cursor: pointer;
}

/** Aviso de privacidad */

#aviso_privacidad_background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  color: white;
  display: flex;
  height: 100%;
  left: 0;
  padding: 5vh 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#aviso_privacidad_container {
  align-items: center;
  background-color: #68AA24;
  border-radius: 4vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  left: 25%;
  padding: 3vh 3vw;
  position: fixed;
  width: 50%;
}

#aviso_privacidad_container button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: Montserrat-Arabic;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  width: auto;
}

#aviso_privacidad_description {
  font-family: Montserrat-Arabic;
  font-size: 1.25rem;
  line-height: 1.5rem;
  overflow-y: auto;
  max-height: 50vh;
  /* text-align: center; */
}

/*! LOGIN */
#body-login{
  background-image: url("./images/fondo_login.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  backface-visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Montserrat-Arabic, sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100;
}  

#body-login h3{
  top: 0.5vw;
  font-family: Intro, sans-serif;
}  

/*CAMPOS DE INGRESO DE DATOS*/

.bloques-campos{
  display: flex;
  position: relative;
  align-items: center;
  margin: 2vw 0;
  width: 300px;
  border-bottom: 2px solid #fff;
}    

.bloques-campos label{ /*nombre del campo: correo, contra...*/
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translateY(-40%);
  color: #eaeef1;
  font-size: 1rem;
  pointer-events: node;
  transition: .5s;
  /* font-weight: bold; */
}  

input:focus ~ label,
input:valid ~ label{
   top: -5px; /*aqui era 5px */
}   

.bloques-campos input{ /*lo que se escribe dentro de los campos*/
  /* position: relative; */
  width: 97%;
  height: 40px;
  margin-left: 1.5vw;
  right: -3px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: -50px 0 5px; /*arriba, derecha e izquierda, abajo*/
  padding-top: 5px;
  padding-bottom: 0;
  color: #f3eeee;
}  

.iconitos{
  /* position: absolute; */
  color: #fff;
  font-size: 1.6rem;
  /* top: 17px; */
  margin: 0;
  width: 2vw;
  /* height: 2vw; */
}  

.redesSociales{
  /* position: relative; */
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}  

.redes{
  flex: 1;
  margin: 1vw 20px;
  width: 4vw;
}  

/*CONTENEDOR DEL LOGIN*/

.contenedor{
  position:relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgba(203, 197, 197, 0.3);
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}  

.contenedor h2{
  font-size: 2.3rem;
  color: #f4f4f8;
  display: flex;
  /* flex-direction: column;
  text-align:center; */
}  

a{
  color: #fcfafa;
  font-size: 14px;
}  

.crear-cuenta{
  color: #271ea2;
  font-size: 14px;
  margin-left: 5px;
  /* position:relative; */
}  

button{
  display:flex;
  border-radius: 40px;
  background-color: #30C207;
  width: 140px;
  border: none;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  /* font-weight: bold; */
  color: #f4f4f8;
  padding: 12px 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-inline-start: 27%;
  justify-content: center;
  align-items:center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
  cursor: pointer;
}  

form{
  /* display: flex; */
  /* flex-direction: column; */
  /* text-align: center; */
  /* align-items: center; */
}  

.preguntarCuenta{
  font-size: 14px;
  /* position: relative; */
  margin:2vw 0;
}  

/* .crear-cuenta, .preguntarCuenta{
  display: inline;
} */  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-image: url("./images/fondo.png");
  background-size: cover;
  background-position: center;
  backface-visibility: visible;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
  
}
