
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*CAMPOS DE INGRESO DE DATOS*/

.bloques-campos{
  position: relative;
  margin: 10px 0;
  width: 300px;
  border-bottom: 2px solid #fff;
}

.bloques-campos label{ /*nombre del campo: correo, contra...*/
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-40%);
  color: #eaeef1;
  font-size: 1rem;
  pointer-events: node;
  transition: .5s;
  /* font-weight: bold; */
}

input:focus ~ label,
input:valid ~ label{
   top: -5px; /*aqui era 5px */
}

.bloques-campos input{ /*lo que se escribe dentro de los campos*/
  /* position: relative; */
  width: 97%;
  height: 40px;
  right: -3px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: -50px 0 5px; /*arriba, derecha e izquierda, abajo*/
  padding-top: 5px;
  padding-bottom: 0;
  color: #f3eeee;
}

.iconitos{
  position: absolute;
  color: #fff;
  font-size: 1.6rem;
  top: 17px;
  right: 8px;
  width: 20px;
  height: 20px;
}

.redesSociales{
  /* position: relative; */
  align-items: center;
}

.redes{
  flex: 1;
  margin: 0 10px;
}

/*CONTENEDOR DEL LOGIN*/

.contenedor{
  position:relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgba(203, 197, 197, 0.3);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.contenedor h2{
  font-size: 2.3rem;
  color: #f4f4f8;
  display: flex;
  /* flex-direction: column;
  text-align:center; */
}

a{
  color: #fcfafa;
  font-size: 14px;
}
.crear-cuenta{
  color: #271ea2;
  font-size: 14px;
  /* position:relative; */
}

button{
  display:flex;
  border-radius: 40px;
  background-color: #30C207;
  width: 140px;
  border: none;
  font-weight: bold;
  color: #f4f4f8;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: center;
  align-items:center;
}

form{
  /* display: flex; */
  /* flex-direction: column; */
  /* text-align: center; */
  /* align-items: center; */
}
.preguntarCuenta{
  font-size: 14px;
  /* position: relative; */
  margin: 0;
}

/* .crear-cuenta, .preguntarCuenta{
  display: inline;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url(https://i.ibb.co/YjKkgdt/fondo-tectrash2.png-);
  background-size: cover;
  background-position: center;
  backface-visibility: visible;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
  
}
