
.App {
  text-align: center;
}  

.App-logo {
  height: 40vmin;
  pointer-events: none;
}  

.avisos-texto{
  /* text-align: center; */
  font-size: 14px;
  margin-top: 20px;
}  

/*! <------------------------- GENERAL -------------------------> */

a {
  color: white;
  text-decoration: none;
}

button {
  background-color: #30C207;
  border: none;
  border-radius: 5vw;
  color: white;
  cursor: pointer;
  font-family: Montserrat-Arabic;
}  

p {
  margin: 0;
}    

.scroll {
  cursor: pointer;
}    

/** Header */
header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding-left: 2vw;
}  

#logo_header {
  height: 8vh;
}  


#menu {
  align-items: center;
  display: flex;
  font-family: Intro;
  font-size: 1.25rem;
  height: 100%;
}

.menu_option {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 0 1vw;
}

.menu_option:hover {
  background-color: #222222;
}

#registrarse {
  border: 0.2vw solid white;
  border-radius: 2vw;
  margin: 0 2vw 0 1vw;
  padding: 0.5vw 1vw;
}

#registrarse:hover {
  background-color: #222222;
  font-size: 1.35rem;
  margin: 0 1.583vw 0 0.583vw;
}

.desplegable {
  height: 100%;
  position: relative;
}

#icono_header {
  height: 75%;
  margin: 8% 2vw 4% 1vw;
}

.submenu {
  background-color: #111111;
  display: none;
  position: absolute;
  right: 0;
}

.submenu_option {
  cursor: pointer;
  font-family: Montserrat-Arabic;
  padding: 2vh 3vw;
  text-align: center;
  white-space: nowrap;
}

.submenu_option:hover {
  background-color: #333333;
}

.submenu hr {
  margin: 0;
  width: 100%;
}

.desplegable:hover .submenu {
display: block;
}

/** Ventana emergente */
.ventana_emergente_background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  color: white;
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}  

.ventana_emergente_container {
  align-items: center;
  background-color: #68AA24;
  border: white 0.2vw solid;
  border-radius: 4vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px;
  display: flex;
  flex-direction: column;
  /* gap: 5vh; */
  left: 25%;
  padding: 3vh 3vw;
  position: fixed;
  width: 50%;
}  

.ventana_emergente_container button {
  background-color: rgba(0, 0, 0, 0);
  font-size: 2rem;
  margin-left: auto;
}  

/*! <------------------------- PÃGINA PRINCIPAL -------------------------> */

/** Main section */
#main_principal {
  align-items: center;
  background-image: url("./images/fondo_principal_inicio.png");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5.5vh;
  justify-content: center;
  padding: 9vh 0 8vh 0;
}  

#main_title {
  font-family: Intro;
  font-size: 3.75rem;
  margin: 0;
}  

#main_subtitle {
  font-family: Montserrat-Arabic;
  font-size: 1.9rem;
}  

#main_principal button {
  background-color: #5C9BE6;
  font-family: Montserrat-Arabic;
  font-size: 1.5rem;
  height: 11vh;
  margin: 3vh 0;
  width: 27.5vw;
}  

/** Section "Servicios" */
#servicios {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding: 6vh 0;
}  

#title {
  font-family: Intro;
  font-size: 2.75rem;
  margin: 2vh 0;

}  

.container {
  display: flex;
  gap: 1.25vw;
  justify-content: center;
}  

.option {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  width: 32vw;
}  

.option img {
  height: 11.5vw;
}  

.option_title {
  font-family: Montserrat-Arabic;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}  

.option_description {
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  padding: 0 2vw;
  text-align: center;
}  

/** Section "Nosotros" */
#nosotros_title {
  background-image: url("./images/fondo_principal_inicio.png");
  background-position: center;
  background-size: cover;
  color: white;
  font-family: Intro;
  font-size: 2.25rem;
  padding: 4vh 0;
  text-align: center;
}  

#quienes_somos_container {
  align-items: center;
  display: flex;
  padding: 3vh 0 0 3vw;
}  

.nosotros_subtitle {
  font-family: Intro;
  font-size: 2.1rem;
  margin: 3vh 1.75vw;
}  

#quienes_somos_description {
  border: #68AA24 0.75vw solid;
  border-radius: 4vw;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 1.5vh 2vw;
  text-align: center;
  width: 50vw;
}  

#equipo_tectrash {
  width: 40vw;
}  

#mision_container, #vision_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3vh 3vw 3vh 6vw;
}  

.nosotros_image {
  margin-left: 3vw;
  width: 20vw;
}  

#mision_container div {
  text-align: right;
}  

#mision_description {
  border: #5C9BE6 0.75vw solid;
  border-radius: 4vw;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 1.5vh 2vw;
  text-align: center;
  width: 56vw;
}  

#vision_description {
  border: #68AA24 0.75vw solid;
  border-radius: 4vw;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 1.5vh 2vw;
  text-align: center;
  width: 56vw;
}  

#valores_container, #ubicacion_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3vh 0 3vh 0;
}  

.valor_element_verde {
  border: #68AA24 0.75vw solid;
  border-radius: 4vw;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 2.25vh;
  padding: 1.5vh 2vw;
  text-align: center;
  width: 90vw;
}  

.valor_element_azul {
  border: #5C9BE6 0.75vw solid;
  border-radius: 4vw;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 2.25vh;
  padding: 1.5vh 2vw;
  text-align: center;
  width: 90vw;
}  

#ubicacion_tectrash {
  border: #5C9BE6 0.75vw solid;
  border-radius: 4vw;
  height: 55vh;
  margin: 3vh 0;
  width: 65vw;
}  

#direccion {
  font-family: Montserrat-Arabic;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 3vh 0;
}  

/** Footer */
footer {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 6.5vh;
  padding: 9vh 0 0 0;
}  

#contacto_principal_container {
  display: flex;
  gap: 10vw;
  padding-left: 8vw;
}  

#contacto_principal_container img {
  height: 5vw;
}  

.contacto_principal {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  gap: 2.5vh;
  justify-content: end;
}  

#informacion_adicional {
  align-items: end;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vh;
  width: 98%;
}  

.informacion_adicional_label {
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.75rem;
}  

#redes_sociales_container {
  display: flex;
  gap: 1vw;
  padding: 0 0 1vh 2vw;
}  

#redes_sociales_container a img {
  border: white 0.2vw solid;
  border-radius: 50%;
  height: 4vw;
}  

/** Aviso de privacidad */

#aviso_privacidad_content {
  background-color: #438617;
  border-radius: 1vw;
  font-family: Montserrat-Arabic;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-y: auto; /* Scrollbar */
  max-height: 50vh; /* Scrollbar */
  padding: 2vw;
  text-align: justify;
}

#aviso_privacidad_content::-webkit-scrollbar { /* Para ocultar scrollbar */
  width: 0;
}

/*! <------------------------- LOGIN -------------------------> */
#body-login{
  background-image: url("./images/fondo_login.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  backface-visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Montserrat-Arabic, sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100;
}  

#body-login h3{
  top: 0.5vw;
  font-family: Intro, sans-serif;
}  

/*CAMPOS DE INGRESO DE DATOS*/

.bloques-campos{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 2vw 0;
  width: 300px;
  border-bottom: 2px solid #fff;
}    

.bloques-campos label{ /*nombre del campo: correo, contra...*/
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translateY(-40%);
  color: #eaeef1;
  font-size: 0.8rem;
  /* pointer-events: node; */
  transition: .5s;
  /* font-weight: bold; */
}  

input:focus ~ label,
input:valid ~ label{
   top: -5px; /*aqui era 5px */
}   

.bloques-campos input{ /*lo que se escribe dentro de los campos*/
  /* position: relative; */
  width: 97%;
  height: 40px;
  margin-left: 1.5vw;
  right: -3px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: -50px 0 5px; /*arriba, derecha e izquierda, abajo*/
  padding-top: 5px;
  padding-bottom: 0;
  color: #f3eeee;
  margin-bottom: 0%;
}

.campos-ingresos button{
  /* display:flex; */
  width: 140px;
  font-size: 16px;
  padding: 12px 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}  

.campos-ingresos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor{
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgba(203, 197, 197, 0.3);
  padding: 2vw;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}  

.contenedor h2{
  font-size: 2.3rem;
  font-family: Intro Normal;
  color: #f4f4f8;
  align-items: center;
  justify-content: center;
}  

#cuenta-texto{
  text-align: center;
}

.iconitos{
  /* position: absolute; */
  color: #fff;
  font-size: 1.6rem;
  /* top: 17px; */
  margin: 0;
  width: 1.9vw;
  /* height: 2vw; */
}

.ojito{
  /* position: absolute; */
  color: #fff;
  font-size: 1.6rem;
  /* top: 17px; */
  margin: 0;
  width: 2vw;
  /* height: 2vw; */
}

.redesSociales{
  display: flex;
  justify-content:center;
}  

.redes{
  /* flex: 1; */
  margin: 1.2vw 15px;
  width: 4vw;
}  

/*CONTENEDOR DEL LOGIN*/



form a{
  color: #fcfafa;
  font-size: 14px;
}  

.crear-cuenta{
  color: #271ea2;
  /* margin-left: 5px; */
  /* position:relative; */
}  



form{
  /* display: flex; */
  /* flex-direction: column; */
  /* text-align: center; */
  /* align-items: center; */
}  



/* .crear-cuenta, .preguntarCuenta{
  display: inline;
} */

.error{
  color: rgb(241, 38, 38);
  font-size: small;
  font-weight: bold;
}
.contraIncorrecta{
  color: rgb(241, 38, 38);
  font-size: small;
  text-align: left;
  margin-top: 0%;
}
.esconder{
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
  
}
